.navbutton.back {
    background-color: #7a0707;
}

@import url('//fonts.googleapis.com/css?family=Lato');
@import url('//fonts.googleapis.com/css?family=Raleway');
/**
 *
 *
 *General Settings
 */
html,
body,
input,
select {
    font-family: "Raleway", "Lato", "azuro","arial", "lucida console", sans-serif;
}
ul,li {
    list-style: none;
    padding: 0;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
}
.btn-tondo {
    background: rgba(26, 132, 80, 1);
    color: #FFF;
    cursor: pointer;
}
.btn-secondary {
    cursor: pointer;
}
.headline {
    text-align: left;
	text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.6rem 0;
}
/**
 *
 *
 *Navigation
 */
.navbar {
    background: rgba(26, 132, 80, 1);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
.logo {
    max-height: 38px;
}
.nav-link {
    padding-left: .7rem !important;
    padding-right: .7rem !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(26, 132, 80, 1);
}

/**
 *
 *
 *Loading
 */
.loading {
	display: block;
    position: fixed;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: alpha(opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
	z-index: -1;
    top: 54px;
    left: 0;
    width: 100vw;
    height: 0;
	background-color: #FFF;
    background-image: url(../images/thumbnails/spinner.gif);
	background-repeat: no-repeat;
    background-position: center;
	background-size: 15%;
    height: 100vh;
}
.loading.in {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
	z-index: 100;
	height: 100vh;
}
@media only screen and (min-width: 768px) {
    .loading {
        top: 64px;
        background-size: 2.5%;
    }
}
/**
 *
 *
 *Modals
 */
 .modal {
     height: 100vh;
 }
 .modal-dialog {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
 }
 .modal-header {
     background-color: rgba(26, 132, 80, 1);
 }
 .modal-title {
     color: #FFF;
     text-transform: uppercase;
 }
 .close {
     color: #FFF;
 }
/**
 *
 *
 *Configurator - Technical Data
 */
.technical-wrapper {
    margin-bottom: 0;
    height: auto;
    background-color: #f4f4f4;
    border-top: 1px #eaeaeb solid;
    border-bottom: 1px #eaeaeb solid;
    padding: .8rem;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .technical-wrapper {
        border-radius: 4px;
    }
}
.technical-wrapper {
    position: relative;
    font-size: .8rem;
    font-weight: bold;
    min-height: 50px;
}
.step-wrapper {
    float: left;
}
.technical-wrapper .step-wrapper li {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d5d7d4;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: 8px;
}
.technical-wrapper .step-wrapper li:first-child {
    margin-left: 0;
}
.technical-wrapper .step-wrapper li.active {
    background-color: rgba(26, 132, 80, 1);
    background-image: url(../images/icons/nav_checked.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.technical-wrapper .step-wrapper li.active.current {
    background-color: rgba(26, 132, 80, 1);
    background-image: url(../images/icons/nav_current.png);
    background-position: center;
    background-repeat: no-repeat;
}
.technical-wrapper .step-wrapper li:after, .technical-wrapper .step-wrapper li.active.current:after {
    content: "";
    width: 10px;
    height: 4px;
    background-color: #d5d7d4;
    display: inline-block;
    right: -10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media only screen and (max-width: 1450px) {
    .technical-wrapper .dataCheck {
        padding: 0;
        display: inline-block;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1450px) {
    .technical-wrapper .dataCheck {
        text-align: center;
    }
}
.technical-wrapper .parameter-wrapper {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.parameter-wrapper {
    padding: 0 10px 10px;
}
.technical-wrapper .parameter-wrapper .topParam:first-child {
    margin-left: 0;
}
.technical-wrapper .parameter-wrapper .topParam {
    margin-left: 1rem;
    vertical-align: baseline;
}
.technical-wrapper .parameter-wrapper .topParam {
    display: inline-block;
    line-height: 20px;
    height: 50px;
    vertical-align: middle;
    position: relative;
    opacity: 1;
    filter: alpha(opacity=1);
}
.technical-wrapper .parameter-wrapper .topParam > div {
    display: inline-block;
}
.technical-wrapper .parameter-wrapper .topParam .paramDataContainer {
    padding: 5px;
    padding-top: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: rgba(26, 132, 80, 1);
    float: left;
    background-color: #fff;
}
.technical-wrapper .parameter-wrapper .topParam .paramDataContainer .paramValue {
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
.technical-wrapper .parameter-wrapper .topParam .paramDataContainer .paramUnit {
    width: 100%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
}
.technical-wrapper .parameter-wrapper .topParam .paramText {
    margin-left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 18px;
    margin-top: 20%;
    vertical-align: middle;
    text-align: left;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: .7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}
.data-wrapper {
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}
/**
 *
 *
 *Configurator - Price
 */
.price-wrapper {
    position: absolute;
    width: 100%;
    top: 30%;
    z-index: 10;
}
@media only screen and (min-width: 1281px) {
    .price-wrapper {
        top: 25%;
    }
}
.price-box {
    position: relative;
    right: 0;
    text-align: right;
    top: 11rem;
}
.price-box .price-product-options {
    display: inline-block;
    font-size: 13px;
}
.price-box .price-product-options .option-table {
    display: table;
    width: 200px;
    padding-left: 65px;
    margin-bottom: 10px;
}
.price-box .price-product-options .option-table .table_row {
    display: table-row;
}
.price-box .price-product-options .option-table .table_row .cell {
    display: table-cell;
    width: 50%;
    padding-left: 5px;
    line-height: 1.3em;
}
.price-product-options .option-table .table_row .cell:first-child {
    width: 60%;
    text-align: right;
}
.price-product-options .option-table .table_row .cell:last-child {
    width: 40%;
    text-align: right;
}
.price-product-options .option-table .table_row .cell strong {
    text-transform: uppercase;
}
.price-box .price,
.price-box .price-vat {
    font-size: 1.1rem;
    color: #383838;
    text-transform: none;
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
}
@media only screen and (min-width: 1025px) {
    .rendering-price-container .price-box .price,
    .rendering-price-container .price-box .price-vat {
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .rendering-price-container .price-box .price {
        margin-bottom: 0;
    }
}
.vat-text {
    font-size: .6rem;
}
.product-view .add-to-cart .qty-wrapper, .product-view .product-options-bottom .price-box, .product-view .add-to-cart-buttons {
    min-height: 40px;
}
.product-view .add-to-cart-buttons {
    float: left;
    margin-right: 10px;
    max-width: 100%;
}
#configurator .price-box .add-to-cart-buttons {
    pointer-events: all;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
}
.add-to-cart-buttons button {
    text-transform: uppercase;
}
.price-box .price-extras {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #fff;
}
.price-extras .tax-details {
    display: block;
}
.price-extras .shipping-cost-details a {
    color: rgba(26, 132, 80, 1);
    cursor: pointer;
}
/**
 *
 *
 *Configurator - Rendering
 */
#configurator-background:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}
#configurator-background {
    position: relative;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#configurator-background:before {
    background-color: rgb(148, 105, 45);
    opacity: 0.4;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out false;
    -o-transition: background-color 1s ease-out false;
    transition: background-color 1s ease-out;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    margin: 0 -20% -50% -20%;
    top: 45%;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
}
.rendering-wrapper {
    position: relative;
    margin-bottom: 4rem;
    padding-top: 4rem;
    z-index: 20;
}
#rendering {
    cursor: move;
    width: 100%;
    height: 190px;
}
@media screen and (min-width: 576px) {
    #rendering {
        height: 260px;
    }
}
@media screen and (min-width: 768px) {
    #rendering {
        height: 350px;
    }
}
@media screen and (min-width: 992px) {
    #rendering {
        height: 380px;
    }
}
@media screen and (min-width: 1200px) {
    #rendering {
        height: 450px;
    }
}
#rendering canvas {
    position: relative;
    width: 100% !important;
    height: 100% !important;
}
.error-wrapper {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: .5rem;
}
.error-wrapper h5 {
    color: #fff;
    font-size: .8rem;
    text-align: center;
}
/**
 *
 *
 *Configurator - Option Selection
 */
.configuration-wrapper {
    position: relative;
    width: 100%;
    padding-top: .9rem;
    padding-bottom: .7rem;
    border-bottom: solid 1px #e9e9e9;
}
@media screen and (min-width: 992px) {
    .configuration-wrapper {
        padding-bottom: .1rem;
    }
}
.instructions {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    padding-bottom: .7rem;
}
@media only screen and (max-width: 1024px) {
    .instructions {
        text-align: center;
        height: 35px;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
}
.configuration-wrapper .buttons {
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .configuration-wrapper .buttons {
        -webkit-transform: translateY(-34px);
        -moz-transform: translateY(-34px);
        -ms-transform: translateY(-34px);
        -o-transform: translateY(-34px);
        transform: translateY(-34px);
    }
}
.configuration-wrapper .buttons .pager-button {
    text-align: left;
    display: inline-block;
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #838383;
    color: white;
    margin: 0 9px 0;
    padding: 0;
    position: relative;
    -webkit-transition: color 0.3s false, -webkit-transform 0.3s false;
    -moz-transition: color 0.3s false false, -moz-transform 0.3s false false;
    -o-transition: color 0.3s false false, -o-transform 0.3s false false;
    transition: color 0.3s, transform 0.3s;
}
.configuration-wrapper .buttons .pager-button.active {
    color: #838383;
    width: 35px;
    height: 35px;
    top: 5px;
    margin: -11px 4px 0;
}
.configuration-wrapper .buttons .pager-button .bg {
    position: absolute;
    top: 17px;
    left: 17px;
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: white;
    border: none;
}
.configuration-wrapper .buttons .pager-button.active .bg {
    top: 2px;
    left: 2px;
    width: 31px;
    height: 31px;
    -webkit-transition: top 0.3s false, left 0.3s false, width 0.3s false, height 0.3s false;
    -moz-transition: top 0.3s false false, left 0.3s false false, width 0.3s false false, height 0.3s false false;
    -o-transition: top 0.3s false false, left 0.3s false false, width 0.3s false false, height 0.3s false false;
    transition: top 0.3s, left 0.3s, width 0.3s, height 0.3s;
}
.configuration-wrapper .buttons .pager-button i {
    font-size: .8rem;
    position: absolute;
    width: 66px;
    height: 66px;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -32px;
    text-align: center;
    line-height: 66px;
}
.configuration-wrapper .buttons .pager-button.active i {
    font-size: 1rem;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.configuration-wrapper .buttons .pager-button i:before {
    vertical-align: middle;
    top: 0;
    display: block;
    margin: 0;
    width: 66px;
    height: 66px;
    line-height: 65px;
}
.configuration-wrapper .buttons .pager-button.active i:before {
    line-height: 64px;
}
.icon-measurement:before {
    /* scissors */
    content: "\f34b";
    /* cube */
    content: "\f318";
}
.icon-wall:before {
    /* browsers */
    content: "\f3ef";
}
.icon-foot:before {
    /* football */
    content: "\f436";
}
.icon-surface:before {
    /* paintbrush */
    content: "\f4d5";
}
.icon-extras:before {
    /* archive */
    content: "\f102";
}
.icon-additional:before {
    /* star */
    content: "\f4b2";
}
/**
 *
 *
 *Configurator - Panels
 */
.option-panel {
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    padding-top: .8rem;
    //height: 127px;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: alpha(opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    -o-transition: opacity 600ms ease;
    -ms-transition: opacity 600ms ease;
    transition: opacity 600ms ease;
	display: none;
}
.option-panel.active {
	display: block;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 10;
}
.panel-container input::-webkit-input-placeholder,
.panel-container input::-moz-placeholder,
.panel-container input:-ms-input-placeholder {
	color: #707070;
}
.panel-container h3 {
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .02rem;
    line-height: 2;
    text-transform: uppercase;
}
.option-information {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.panel-container ul {
    margin: 0;
    padding: 0;
}
.panel-container ul li {
    display: inline-block;
}
.panel-container ul li label {
    display: block;
}
.panel-container input[type="radio"],
.panel-container input[type="checkbox"] {
    margin-right: 1rem;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	border: 1px solid #cac9b5;
	background-size: cover !important;
	background-position: center !important;
}
.panel-container input[type="radio"]:checked,
.panel-container input[type="checkbox"]:checked {
    border: 1px solid #3aaf85;
}
.panel-container textarea {
    width: 100%;
}
/**
 *
 *
 *Configurator - Panels - Wall Options
 */
#wall16, #doppio16 {
  background-image: url(../images/configurator/Pflanzentrog_16mm.jpg);
}
#wall24, #doppio24 {
  background-image: url(../images/configurator/Pflanzentrog_24mm.jpg);
}
#doppio32 {
  background-image: url(../images/configurator/Pflanzentrog_32mm.jpg);
}
#doppio40 {
  background-image: url(../images/configurator/Pflanzentrog_40mm.jpg);
}
#doppio48 {
  background-image: url(../images/configurator/Pflanzentrog_48mm.jpg);
}
/**
 *
 *
 *Configurator - Panels - Color Options
 */
.color-option.color-standard {
    background: url(../images/configurator/Standardfarbe_Thumbnail.jpg);
}
.color-option.color-ral {
    background: url(../images/configurator/Ral_Thumbnail.jpg);
}
.color-option.color-ncs {
    background: url(../images/configurator/Ncs_Thumbnail.jpg);
}
.color-option.color-buntsteinputz {
    background: url(../images/configurator/Buntstein_Thumbnail.jpg);
}
.color-option.color-reibputz {
    background: url(../images/configurator/Reibputz_Thumbnail.jpg);
}
#specification-anthrazit {
    background: url(../images/configurator/FarbeAnthrazitRAL7016.jpg);
}
#specification-verkehrsgrau {
    background: url(../images/configurator/FarbeHellgrauRAL7001.jpg);
}
#specification-weiss {
    background: url(../images/configurator/FarbeWeissRAL9010.jpg);
}
#specification-terrakotta {
    background: url(../images/configurator/FarbeTerakottaRAL2001.jpg);
}
/**
 *
 *
 *Configurator - Additional Options
 */
.configurator-profile {
    background-image: url(../images/configurator/Landhaus_Thumbnail.jpg);
}
#styropor {
    background-image: url(../images/configurator/Styropor_Thumbnail.jpg);
}
#leca {
    background-image: url(../images/configurator/Leca_Thumbnail.jpg);
}
#vlies {
    background-image: url(../images/configurator/Vlies_Thumbnail.jpg);
}
.option-container textarea {
    border: 1px solid #cac9b5;
    background: #E0E0E0;
}
#entleerung {
    background: url(../images/configurator/Wasserablauf_Thumbnail.jpg);
    background-size: cover;
}
#hydrodicht {
	background: url(../images/configurator/Hydrodicht_Thumbnail.jpg);
    background-size: cover;
}
#speicher {
    background: url(../images/configurator/Wasserspeicher_Thumbnail.jpg);
    background-size: cover;
}
/**
 *
 *
 *Configurator - Mobile Price Box
 */
#mobile-price-box {
    text-align: center;
    margin-top: 1.6rem;
    padding-bottom: 1.2rem;
}
#mobile-price-box .price-product-options {
    font-size: .8rem;
}
#mobile-price-box .price-product-options span {
    display: block;
    line-height: 1.3;
}
#mobile-price-box .price,
#mobile-price-box .price-vat {
    letter-spacing: 0.03rem;
    font-size: 1.6rem;
}
#mobile-price-box .price-product-options span:last-child {
    margin-bottom: .7rem;
}
#mobile-price-box .price-product-options span span {
    display: inline-block;
}
#mobile-price-box .price,
#mobile-price-box .add-to-cart-buttons {
    display: inline-block;
    line-height: 2.2;
    margin-left: 10px;
}
#mobile-price-box .price-extras {
    font-size: .8rem;
    margin-top: 10px;
}
#mobile-price-box .price-extras .tax-details {
    display: block;
}
#mobile-price-box .price-product-options span strong {
    text-transform: uppercase;
    margin-right: 10px;
}
/**
 *
 *
 *Configurator - Rendering Controls
 */
#rendering-controls {
    position: absolute;
    display: none;
    bottom: 0;
	width: 320px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
}
#rendering-controls span {
	display: inline-block;
	background-color: rgba(26, 132, 80, 1);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 50%;
    -webkit-border-radius: 350%;
    -khtml-border-radius: 350%;
    -moz-border-radius: 350%;
    -ms-border-radius: 350%;
    -o-border-radius: 350%;
    border-radius: 350%;
	height: 40px;
    width: 40px;
	color: transparent;
	cursor: pointer;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.3);
    margin-left: .4rem;
}
@media only screen and (min-width: 768px) {
    #rendering-controls span:hover {
        background-color: rgba(26, 132, 80, 0.7);
    }
}
.control.zoom-in {
    background-image: url(../images/configurator/Rendering_Zoom_In.png);
	background-size: 64% !important;
}
.control.zoom-out {
	background-image: url(../images/configurator/Rendering_Zoom_Out.png);
	background-size: 64% !important;
}
.control.camera-front {
	background-image: url(../images/configurator/Rendering_Camera_Left.png);
}
.control.camera-rear {
	background-image: url(../images/configurator/Rendering_Camera_Right.png);
}
.control.camera-bottom {
	background-image: url(../images/configurator/Rendering_Camera_Down.png);
}
.control.camera-top {
	background-image: url(../images/configurator/Rendering_Camera_Up.png);
}
